.section{
    background-color: aqua;
}
.arrow{
    padding-left: 280px;  
}

.wrapper{
    border-radius: 15px;
    padding-left: 20px;
}

.menu {
    display: inline-block;
    align-items: center;
    padding-top: 15px;
}

ul, li{
    padding-left: 10px;
    font-size: 25px;
    font-weight: 400;
   
    padding: 0;
    margin: 0;
}
li{
    padding-left: 10px;
    align-items: flex-end;
}
